.title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-size-title);
}

.white {
  color: var(--text-color-primary-active);
}

.black {
  color: var(--text-color-primary);
}
