.wrapper {
  height: 100%;
  max-height: 100%;
}

.container {
  max-width: 330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  margin: 0 auto;
}

.pink {
  background: var(--bg-primary);
}

.gradient {
  background: var(--bg-secondary);
}
